.song-search{
    border-radius: 20px;
}
body{
    padding-top: 30px;
    background-color: black;
}

.playlist-card{
    height: 100%;
}

.navbar-shadow{
    box-shadow: 0 0 10px black;
}

a{
    color: white;
    text-decoration: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.searchSuggestions::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.searchSuggestions {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.addNewPlaylist:hover{
    color: gray;
    cursor: pointer;
}

.modal-content{
    background-color: inherit;
}

.songInstance:hover{
    background-color: rgba(0, 0, 0, 0.8)!important;
}

.songInstance:hover div{
    color: white;
}

.songInstance:hover img{
    filter: brightness(50%);
}

.blurred {
    position: fixed;
    z-index: -1;
    filter: blur(100px);
    width: 3000px;
    overflow-y: hidden;
    background-attachment: fixed;
}

.cover {
    z-index: 1;
    position: relative;
}

.playlistOptions:hover{
    background-color: rgba(0, 0, 0, 0.8)!important;
    color:white !important;
}

.blurred2{
    filter: brightness(100%);
}